doctype html
html
	title=type
body
	p
		a(href="../index.html") &lt; Back to index


	div!=text

	h2 Tag Names

	ul
		each tagName in tagNames
			li!=tagName

	h2 Selection Tags

	ul
		each selectionTag in selectionTags
			li!=selectionTag

	small!=type
